{% extends 'bootstrap.html' %}
{% block title %}{{ museu.nome|title }} - Cultura Educa{% endblock %}
{% block conteudo %}
<script src="/static/js/ol/OpenLayers.js"></script>
<script src="/static/js/ponto.js"></script>
<script src="/static/js/highcharts/highcharts.js"></script>
<script src="/static/js/highcharts/modules/exporting.js"></script>
<script type="text/javascript">
$(function() {
    $(".about-this-pop").popover();
    $(".about-this-tip").tooltip();
});
</script>
<div class="row-fluid clearfix">
    <div class="row-fluid span12 breadcrumb-mapa">
        <p><a href="{% url 'mapa' %}">MAPA</a> > <a href="{% url 'mapa' %}">{{ museu.ibge.estado.sigla }}</a> > <a href="/mapa/{{ museu.ibge.estado.sigla }}/{{ museu.ibge.nome|slugify }}/">{{ museu.ibge.nome }}</a> > Museu</p>
        <span style="visibility:hidden;display:none" id='longitude_centro'>{{ longitude }}</span>
        <span style="visibility:hidden;display:none" id='latitude_centro'>{{ latitude }}</span>
        <span style="visibility:hidden;display:none" id='icone'>{{ icone }}</span>
        <span style="visibility:hidden;display:none" id='nome_ponto'>{{ nome_ponto }}</span>
        <div class="row-fluid span12" id="mapa" style="max-width:960px; height:500px;"></div>
    </div><!--breadcrumb-->
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="tabbable" id="tabs-mapas">
        <p>{{ museu.nome }}</p>
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#painel-perfil" data-toggle="tab">PERFIL</a>
            <span class="tripod"></span>
          </li>
        </ul>
        <section class="tabs-conteudo row-fluid">
            <div class="tab-content span12">
<!-- TAB PERFIL -->
                <div class="tab-pane active" id="painel-perfil">
                    <div class="span6 coluna1">
                    <!--Conteudo-->
                            <section class="box-bevelw tr geral">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Identificação</p>
                            <span><!--PopOver-->
                                <a 
                                    class="about-this-pop"
                                    data-toggle="popover"
                                    data-animation="true"
                                    data-placement="right"
                                    data-trigger="click"
                                    data-title="Texto de Ajuda Titulo"
                                    data-content="Conteudo da Ajuda">
                                    <img src="/static/img/info.png" alt="Ajuda">
                                </a>
                            </span><!--PopOver-->
                            <article>
                            <div class="datagrid geral tdw">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Nome</td>
                                            <td>{{ museu.nome }} </td>
                                        </tr>
                                        <tr>
                                            <td>Endereço</td>
                                            <td>{{ museu.tipo_logradouro }} {{ museu.nome_logradouro }}, {{ museu.num_lograd }} </td>
                                        </tr>
                                        <tr>
                                            <td>Bairro</td>
                                            <td>{{ museu.bairro }} </td>
                                        </tr>
                                        <tr>
                                            <td>CEP</td>
                                            <td>{{ museu.cep }} </td>
                                        </tr>
                                        <tr>
                                            <td>Telefone</td>
                                            <td>( {{ museu.ddd_telefone1 }} ) {{ museu.telefone1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email/site</td>
                                            <td>{{ museu.email }} / {{ museu.site }}</td>
                                        </tr>
                                        <tr>
                                            <td>CNPJ</td>
                                            <td>{{ museu.cnpj }}</td>
                                        </tr>
                                        <tr class="hidden"></tr>
                                    </tbody>
                                </table>
                            </div>
                         </article>
                        </section>
<!---->
                        <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Gestão</p>
                            <article>
                                <div class="datagrid">
                                    <table>
                                        <tr class="alt">
                                            <td>Esfera Administrativa</td>
                                            <td>{{ museu.esfera_administrativa }}</td>
                                        </tr>
                                        <tr>
                                            <td>Tipo de Esfera</td>
                                            <td>{{ museu.tipo_esfera }}</td>
                                        </tr>
                                        <tr class="hidden">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </article>
                        </section>

                        <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Acervo</p>
                            <article>
                                <div class="datagrid">
                                    <table>
                                        <tr class="alt">
                                            <td>Quantidade de bens no arcevo</td>
                                            <td>{{ museu.qtd_bens_acervo }}</td>
                                        </tr>
                                        <tr>
                                            <td>Acervo Antropologia / Etnografia</td>
                                            <td>{{ museu.qtd_antropologia_etnografia }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Acervo Arqueologia</td>
                                            <td>{{ museu.qtd_arqueologia }}</td>
                                        </tr>
                                        <tr>
                                            <td>Acervo Artes Visuais</td>
                                            <td>{{ museu.qtd_artes_visuais }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Acervo Ciencias naturais e Historia Natural</td>
                                            <td>{{ museu.qtd_cienciasnaturais_historianatural }}</td>
                                        </tr>
                                        <tr>
                                            <td>Acervo Ciencia e Tecnologia</td>
                                            <td>{{ museu.qtd_ciencia_tecnologia }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Acervo Historia</td>
                                            <td>{{ museu.qtd_historia }}</td>
                                        </tr>
                                        <tr>
                                            <td>Acervo Imagem e Som</td>
                                            <td>{{ museu.qtd_imagem_som }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Acervo Virtual</td>
                                            <td>{{ museu.qtd_virtual }}</td>
                                        </tr>
                                        <tr>
                                            <td>Acervo Arquivistico</td>
                                            <td>{{ museu.qtd_arquivistico }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Acervo biblioteconomico</td>
                                            <td>{{ museu.qtd_biblioteconomico }}</td>
                                        </tr>
                                        <tr>
                                            <td>Acervo Documental</td>
                                            <td>{{ museu.qtd_documental }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Acervo Outros</td>
                                            <td>{{ museu.qtd_outros }}</td>
                                        </tr>
                                        <tr class="hidden">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </article>
                        </section>

                        <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Instalações Físicas</p>
                            <article>
                                <div class="datagrid">
                                    <table>
                                        <tr class="alt">
                                            <td>Bebedouro</td>
                                            <td>{% if museu.bebedouro %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>Estacionamento</td>
                                            <td>{% if museu.estacionamento %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Lanchonete/Restaurante</td>
                                            <td>{% if museu.lanchonete_restaurante %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>Livraria</td>
                                            <td>{% if museu.livraria %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Loja</td>
                                            <td>{% if museu.loja %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>Sanitários</td>
                                            <td>{% if museu.sanitarios %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Telefone público</td>
                                            <td>{% if museu.telefone_publico %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>Elevedores acessíveis</td>
                                            <td>{% if museu.pne_elevadores_acessiveis %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Rampa de acesso</td>
                                            <td>{% if museu.pne_rampa_de_acesso %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>Sinalização em braille</td>
                                            <td>{% if museu.pne_sinalizacao_braile %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Etiquetas em braille</td>
                                            <td>{% if museu.pne_etiquetas_braile %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        
                                         <tr class="hidden">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        
                                    </table>
                                </div>
                            </article>
                        </section>


                    <!--Conteudo-->
                    </div><!--span6 coluna1-->
<!-- COLUNA 2 -->                        
                    <div class="span6 coluna2">

                        <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Localização</p>
                            <span><!--Tooltip-->
                                <a 
                                    class="about-this-tip"
                                    data-toggle="tooltip"
                                    data-animation="true"
                                    data-placement="right"
                                    data-trigger="click"
                                    data-title="Texto de Ajuda Titulo"
                                    data-content="Conteudo da Ajuda">
                                    <img src="/static/img/info.png" alt="Ajuda">
                                </a>
                            </span><!--Tooltip-->
                            <article>
                                <div class="datagrid">
                                    <table>
                                        <tr class="alt">
                                            <td>Latitude</td>
                                            <td>{{ museu.latitude }}</td>
                                        </tr>
                                        <tr>
                                            <td>Longitude</td>
                                            <td>{{ museu.longitude }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Tipo GEO</td>
                                            <td>{{ museu.tipogeo }}</td>
                                        </tr>
                                         <tr class="hidden">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </article>
                        </section>

                        <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Taxonomia SNIIC</p>
                            <article>
                                <div class="datagrid">
                                    <table>
                                        <tr class="alt">
                                            <td>Nivel 1</td>
                                            <td>{{ sniic1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>Nivel 2</td>
                                            <td>{{ sniic2 }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Nivel 3</td>
                                            <td>{{ sniic3 }}</td>
                                        </tr>
                                        <tr class="hidden">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </article>
                        </section>

                        <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Acesso ao Público</p>
                            <article>
                                <div class="datagrid">
                                    <table>
                                        <tr class="alt">
                                            <td>Cobrado</td>
                                            <td>{% if museu.ingresso_cobrado %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>Valor</td>
                                            <td>R$ {{ museu.valor_ingresso}}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Sinalização visual em outros idiomas</td>
                                            <td>{% if museu.infra_turista_sinalizacao %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>Etiquetas de objetos/textos explicativos em outros idiomas</td>
                                            <td>{% if museu.infra_turistas_etiquetas %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Publicações em outros idiomas</td>
                                            <td>{% if museu.infra_turistas_publicacoes %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                        </tr>
                                        <tr class="hidden">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </article>
                        </section>

                        <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Atividades</p>
                            <article>
                                <div class="datagrid">
                                    <table>
                                    
                                        
                                    </table>
                                </div>
                            </article>
                        </section>

                    </div><!--span6 coluna2-->
            </div><!--tab-pane / painel-perfil-->
<!-- /TAB PERFIL -->

            </div><!--tab-content-->
        </section>
        </div><!--tabbable /tabs-mapas-->
    </div><!--span12-->
<!-- FIM TABS -->
</div><!--row-fluid-->

<script>
    init();
</script>

{% endblock %}
