<!DOCTYPE html>
<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
</head>
<body>
<a href="{% url 'mapa' %}">Mapa</a>{% if uf %} / {{ uf }}{% endif %}
<br /><br />
{% if lista_uf %}
    {% for uf in lista_uf %}
        <a href="{% url 'mapa_uf' uf %}">{{ uf }}</a><br>
    {% endfor %}
{% endif %}

{% if municipios %}
    {% for municipio in municipios %}
        <a href="{% url 'mapa_municipio' municipio.estado.sigla municipio.slug %}">{{ municipio.nome }}</a><br >
    {% endfor %}
{% endif %}
</body>
</html>