{% extends 'bootstrap.html' %}
{% block conteudo %}
  <div class="row-fluid">
    <div class="span6">
      <div class="bevel tr folded foldverde">
        <div class="box-blog">
          <h5>TITULO DO POST<h5>
          <h6>21/05/2013</h6>
          <section class="post">
              <article>
                <img src="../static/img/sobre_lidas.jpg" height="203" width="410" alt="Imagem desta Postagem">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Odit, explicabo, fugit, ea numquam porro ex maiores tempore
                    pariatur est quo enim culpa quibusdam fuga cupiditate quod eius
                    commodi asperiores provident.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Odit, explicabo, fugit, ea numquam porro ex maiores tempore
                    pariatur est quo enim culpa quibusdam fuga cupiditate quod eius
                    commodi asperiores provident.

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Odit, explicabo, fugit, ea numquam porro ex maiores tempore
                    pariatur est quo enim culpa quibusdam fuga cupiditate quod eius
                    commodi asperiores provident.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Odit, explicabo, fugit, ea numquam porro ex maiores tempore
                    pariatur est quo enim culpa quibusdam fuga cupiditate quod eius
                    commodi asperiores provident.
                  </p>
              </article>
          </section>
          <hr>
          <section class="Comentarios">
            <h5>COMENTÁRIOS</h5>
            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              </p> <small>Someone famous <cite>Source Title</cite></small>
            </blockquote>
            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              </p> <small>Someone famous <cite>Source Title</cite></small>
            </blockquote>
            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              </p> <small>Someone famous <cite>Source Title</cite></small>
            </blockquote>
            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              </p> <small>Someone famous <cite>Source Title</cite></small>
            </blockquote>
            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              </p> <small>Someone famous <cite>Source Title</cite></small>
            </blockquote>
          </section>
          <hr>
          <section class="comentar">
            <form class="form-comentar">
              <fieldset class="control-group error">
                <legend>COMENTAR</legend>
                <label class="control-label">LOGIN</label>
                  <input id="inputError" type="email" required/>
                <label class="control-label">SENHA</label>
                  <input id="inputError" type="password" name="password" required/>
                <textarea placeholder="Seu Comentário" rows="2" required></textarea>
                <button type="submit" class="btn-verde pull-right">Publicar</button>
              </fieldset>
            </form>
          </section>
        </div>
      </div>
    </div>
<!-- END POST BLOG -->
    <div class="box-post span6">
      <div class="bevel tr folded foldverde">
      <div class="box-bloge">
        <h5>SOBRE</h5>
        <h6>OS AUTORES</h6>
      <section></section>
      </div></div>
      <div class="bevel tr folded foldverde">
        <div class="box-bloge">
          <h5>BLOG</h5>
          <h6>GERAIS</h6>
          <section>
            <article>
              <a class="pull-left" href=""><img src="/static/img/thumb1.jpg" alt=""></a>
              <a href="">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Odit, explicabo, fugit, ea numquam porro ex maiores tempore
                  pariatur est quo enim culpa quibusdam fuga cupiditate quod eius
                  commodi asperiores provident.
                </p>
                <span class="tri"></span>
              </a>
            </article>
            <hr>
            <article>
              <a class="pull-left" href=""><img src="/static/img/thumb2.jpg" alt=""></a>
             <a href="">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Odit, explicabo, fugit, ea numquam porro ex maiores tempore
                  pariatur est quo enim culpa quibusdam fuga cupiditate quod eius
                  commodi asperiores provident.
                </p>
                <span class="tri"></span>
              </a>
            </article>
          </section>
        </div>
      </div><!--folded-->
    </div>
  </div>
{% endblock %}