{% extends 'bootstrap.html' %}
{% block conteudo %}
<div class="row-fluid clearfix">
  <div class="row-fluid span12 breadcrumb-mapa">
    <p>MAPA > PE > RECIFE > TERRITÓRIO EDUCATIVO</p>
    <img alt="Mapa" src="/static/img/mapa960x400.png">
  </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="tabbable" id="tabs-mapas">
        <p>TERRITÓRIO EDUCATIVO PASTORZINHO DA SILVA</p>
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#painel-perfil" data-toggle="tab">PERFIL</a>
            <span class="tripod"></span>
          </li>
          <li>
            <a href="#painel-mural" data-toggle="tab">MURAL</a>
            <span class="tripod"></span>
          </li>
          <li>
            <a href="#painel-usuarios" data-toggle="tab">USUÁRIOS</a>
            <span class="tripod"></span>
          </li>
          <li>
            <a href="#painel-escola" data-toggle="tab">ESCOLA</a>
            <span class="tripod"></span>
          </li>
        </ul>
        <section class="tabs-conteudo row-fluid">
            <div class="tab-content span12">
        <!-- TAB PERFIL -->
                  <div class="tab-pane active" id="painel-perfil">
                    <div class="span6 coluna1">
                    <!--Conteudo-->
                         <table class="box-bevel tr folded foldlaranja">
                            <thead>
                                <tr><th>PERFIL SÓCIOECONOMICO DO TERRITORIO EDUCATIVO</th></tr>
                            </thead>
                        <tbody>
                            <tr>
                                <td>
                                    ENDEREÇO
                                </td>
                                <td>
                                    RUA SILVA SANTOS, 254 - RECIFE
                                </td>
                                </tr>
                                <tr>
                                <td>
                                    TELEFONE
                                </td>
                                <td>
                                    55-7463-9999
                                </td>
                                </tr>
                                <tr>
                                <td>
                                    E-MAIL
                                </td>
                                <td>
                                    ESCOLA@ESCOLA.GOV
                                </td>
                                </tr>
                                <tr>
                                <td>
                                    ESFERA ADMINISTRATIVA
                                </td>
                                <td>
                                    MUNICIPAL
                                </td>
                                </tr>
                        </tbody>
                        </table>
                        <table class="box-bevelw tr folded foldlaranja">
                            <thead>
                                <tr><th>RENDA</th></tr>
                            </thead>
                            <tbody>
                                <tr><td><img src="http://placehold.it/450x400" alt=""></td></tr>
                            </tbody>
                        </table>
                        <table class="box-bevelw tr folded foldlaranja">
                            <thead>
                                <tr><th>INFRAESTRUTURA URBANA</th></tr>
                            </thead>
                            <tbody>
                                <tr><td><img src="http://placehold.it/450x400" alt=""></td></tr>
                            </tbody>
                        </table>
                        <table class="box-bevelw tr folded foldlaranja">
                            <thead>
                                <tr><th>CARACTERÍTICAS DOS DOMICÍLIOS</th></tr>
                            </thead>
                            <tbody>
                                <tr><td><img src="http://placehold.it/450x400" alt=""></td></tr>
                            </tbody>
                        </table>
                        <table class="box-bevelw tr folded foldlaranja table table-striped">
                            <thead>
                                <tr><th>RESPONSÁVEIS POR DOMICÍLIOS</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <td>
                                    ANO
                                  </td>
                                  <td>
                                    NOTA INICIAL
                                  </td>
                                  <td>
                                    NOTA FINAL
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    2005
                                  </td>
                                  <td>
                                    2005
                                  </td>
                                  <td>
                                    2005
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    2007
                                  </td>
                                  <td>
                                    2007
                                  </td>
                                  <td>
                                    2007
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    2009
                                  </td>
                                  <td>
                                    2009
                                  </td>
                                  <td>
                                    2009
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    2011
                                  </td>
                                  <td>
                                    2011
                                  </td>
                                  <td>
                                    2011
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    FONTE: CENSO ESCOLAR/INEP 2011 - 2012
                                  </td>
                                  <td>
                                  </td>
                                  <td></td>
                                </tr>
                            </tbody>
                        </table>
                    <!--Conteudo-->
                    </div><!--span6 coluna1-->
                    <div class="span6 coluna2">
                    <!--Conteudo-->
                        <table class="box-bevelw tr folded foldlaranja">
                            <thead>
                                <tr><th>PIRÂMIDE ETÁRIA</th></tr>
                            </thead>
                            <tbody>
                                <tr><td><img src="http://placehold.it/450x400" alt=""></td></tr>
                            </tbody>
                        </table>
                        <table class="box-bevelw tr folded foldlaranja">
                            <thead>
                                <tr><th>EQUIPAMENTOS</th></tr>
                            </thead>
                            <tbody>
                                <tr><td><img src="http://placehold.it/450x400" alt=""></td></tr>
                            </tbody>
                        </table>
                    <!--Conteudo-->
                    </div><!--span6 coluna2-->
                  </div><!--tab-pane / panel-perfil-->
        <!-- TAB USUARIO -->
                  <div class="tab-pane" id="painel-mural">
                    <div class="span6 coluna1">
                    <!--Conteudo-->

                    <!--Conteudo-->
                    </div><!--span6 coluna1-->
                    <div class="span6 coluna2">
                    <!--Conteudo-->

                    <!--Conteudo-->
                    </div><!--span6 coluna2-->
                </div><!--tab-pane / panel-mural-->
        <!-- TAB USUÁRIOS -->
                  <div class="tab-pane" id="painel-usuarios">
                    <div class="span6 coluna1">
                    <!--Conteudo-->

                    <!--Conteudo-->
                    </div><!--span6 coluna1-->
                    <div class="span6 coluna2">
                    <!--Conteudo-->

                    <!--Conteudo-->
                    </div><!--span6 coluna2-->
                </div><!--tab-pane / panel-usuario-->
        <!-- TAB ESCOLA -->
                <div class="tab-pane" id="painel-escola">
                    <div class="span6 coluna1">
                    <!--Conteudo-->

                    <!--Conteudo-->
                    </div><!--span6 coluna1-->
                    <div class="span6 coluna2">
                    <!--Conteudo-->

                    <!--Conteudo-->
                    </div><!--span6 coluna2-->
                </div><!--tab-pane / panel-escola-->
            </div><!--tab-content-->
        </section>
        </div><!--tabbable /tabs-mapas-->
    </div><!--span12-->
<!-- FIM TABS -->
</div><!--row-fluid-->
{% endblock %}