{% extends 'bootstrap.html' %}
{% block conteudo %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <section class="bevel tr">
        <img class="pull-right trimg" src="/static/img/tri-limao.png" alt="detalhe triangulo">
        <article class="box-estilo">
          <h5>
            Bases de dados CulturaEduca
          </h5>
          <p>
            O portal CulturaEduca armazena, analisa e georreferencia dados e informações de pesquisas dos campos da cultura e da educação, visando contribuir para o planejamento de ações comunitárias e/ou políticas públicas que estreitem as relações entre escolas públicas brasileiras e as iniciativas socioculturais de seu entorno.
          </p>
          <p>
            Nesta página, os dados e microdados que compõem a base do portal CulturaEduca estão disponíveis para download. Sempre que uma nova base for adicionada, a tabela abaixo será atualizada. Consulte:
          </p>
          <a href="#">
            (tabela com o que disponibilizaremos para download)
          </a>
        </article>
      </section>
    </div>
    <div class="span6">
      <section class="bevel tr">
        <img class="pull-right trimg" src="/static/img/tri-limao.png" alt="detalhe triangulo">
        <article class="box-faq">

            <div class="accordion" id="accordion-fqdados">
                <h2>PERGUNTAS FREQUENTES:</h2>
                <span><hr><img src="/static/img/bandeira-limao.png" alt="Enfeite decorativo"></span>
                <div class="accordion-group">
                  <div class="accordion-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-fqdados" href="#accordion-element-22261">
                        <h3>O QUE SÃO DADOS ABERTOS?</h3>
                    </a>
                  </div>
                  <div id="accordion-element-22261" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <p>
                                    São dados que podem ser livremente usados, reutilizados e redistribuídos por
                                    qualquer pessoa - sujeitos, no máximo, à exigência de atribuição da fonte e
                                    compartilhamento pelas mesmas regras. (Definição da Open Knowledge
                                    Foundation; leia mais sobre Conhecimento Aberto
                                    <a href="http://opendefinition.org/okd/portugues-brasileiro">aqui</a>) Por
                                    exemplo: quantas pessoas vivem em uma determinada cidade? Quantas
                                    delas são alfabetizadas? Quantas bibliotecas públicas existem nessa cidade?
                                    Qual é o orçamento anual destas bibliotecas? Como ele é investido?
                                    O levantamento desse tipo de informações colabora para a realização de análises,
                                    comparações, relações e planejamento de ações.
                        </p>
                    </div>
                  </div>
                </div>

                <span><hr><img src="/static/img/bandeira-limao.png" alt="Enfeite decorativo"></span>
                <div class="accordion-group">
                  <div class="accordion-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-fqdados" href="#accordion-element-22262">
                        <h3>POR QUE TRABALHAR COM DADOS ABERTOS?</h3>
                    </a>
                  </div>
                  <div id="accordion-element-22262" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <p>
                                Acessar e aprender a analisar dados e informações são formas
                                de ampliar o controle social sobre bens e serviços públicos,
                                contribuindo para o aprimoramento da democracia.
                        </p>
                    </div>
                  </div>
                </div>

                    <span><hr><img src="/static/img/bandeira-limao.png" alt="Enfeite decorativo"></span>
                    <div class="accordion-group">
                  <div class="accordion-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-fqdados" href="#accordion-element-22263">
                        <h3>QUAL É A SITUAÇÃO DA POLÍTICA DE DADOS ABERTOS NO BRASIL?</h3>
                    </a>
                  </div>
                  <div id="accordion-element-22263" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>
                        <a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2011/lei/l12527.htm">
                           A Lei de Aceso à Informação</a>
                           garante que governos e órgãos públicos forneçam quaisquer informações que
                           qualquer cidadão solicitar - a menos que seja secreta e estratégica.
                      </p>
                      <p>
                        O Brasil é membro da Open Government Partnership, iniciativa internacional que
                        visa "difundir e incentivar globalmente práticas governamentais relacionadas à
                        transparência dos governos, acesso à informação pública e participação social",
                        num esforço para "melhoria da prestação de serviços públicos, aumento da
                        integridade pública, gestão mais efetiva dos recursos públicos, criação de
                        comunidades mais seguras e aumento da responsabilidade corporativa."
                        <br>
                        Saiba mais aqui.
                        <a href="http://www.cgu.gov.br/PrevencaodaCorrupcao/CompromissosInternacionais/GovernoAberto/">
                        www.cgu.gov.br</a>
                      </p>
                      <p>
                        Mesmo com a lei, a transparência ainda é um desafio. Há órgãos despreparados
                        para fornecer os dados, que muitas vezes são disponbilizados em formatos
                         inadequados para visualização.
                      </p>
                    </div>
                  </div>
                </div>

                  <span><hr><img src="/static/img/bandeira-limao.png" alt="Enfeite decorativo"></span>
                  <div class="accordion-group">
                  <div class="accordion-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-fqdados" href="#accordion-element-22264">
                        <h3>PARA MAIS INFORMAÇÕES, CONSULTE:</h3>
                    </a>
                  </div>
                  <div id="accordion-element-22264" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <p>
                        Guia da Open Knowledge Foundation discute os aspectos legais, sociais e técnicos dos dados abertos.
                        <a href="http://opendatahandbook.org/pt_BR/">
                          http://opendatahandbook.org/pt_BR/</a>
                      </p>
                    </div>
                  </div>
                </div>

                <span><hr><img src="/static/img/bandeira-limao.png" alt="Enfeite decorativo"></span>
                <div class="accordion-group">
                  <div class="accordion-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-fqdados" href="#accordion-element-22265">
                        <h3>PORTAL DA TRANSPARÊNCIA</h3>
                     </a>
                  </div>
                  <div id="accordion-element-22265" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <p>
                            Iniciativa da Controladoria-Geral da União (CGU), lançada em novembro de 2004,
                            para assegurar a boa e correta aplicação dos recursos públicos. O objetivo é aumentar
                            a transparência da gestão pública, permitindo que o cidadão acompanhe como o
                            dinheiro público está sendo utilizado e ajude a fiscalizar.
                            <a href="http://www.portaltransparencia.gov.br/">
                                            http://www.portaltransparencia.gov.br/
                            </a>
                        </p>
                    </div>
                  </div>
                </div>

            </div><!--FIm accordion -->

        </article>
      </section>
    </div>

  </div>
</div>
{% endblock %}