{% extends 'bootstrap.html' %}
{% block title %}{{ post.titulo }} - Cultura Educa{% endblock %}
{% block conteudo %}
{% load humanize %}
<script type="text/javascript">
  window.___gcfg = {lang: 'pt-BR'};
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js?onload=onLoadCallback';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<div class="row-fluid">
    <div class="span6">
        <section class="blog-list">
          <section class="bevel tr">
              <img class="pull-right trimg" src="/static/img/tri-verdew.png" alt="detalhe triangulo">
              <article class="post-list">
                  <h4>{{ post.titulo }}</h4>
                  <h6>{{ post.data_publicacao }}</h6>
                  <p>{{ post.conteudo|safe }}</p>
<!--                   <div class="botaocurtir">
                    <a href="http://www.facebook.com/plugins/like.php?href=http://culturaeduca.cc{{post.get_absolute_url}}/&width=30&height=21&colorscheme=light&layout=button_count&action=like&show_faces=false&send=false"></a>
                  </div> -->
                  <iframe src="//www.facebook.com/plugins/like.php?href=http://culturaeduca.cc{{ post.get_absolute_url }}&amp;width=45&amp;height=20&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:53px; height:20px;padding-right:0;margin-top:10px;" allowTransparency="true">
                  </iframe>
                  <div  class="g-plusone"
                        data-size="medium"
                        data-annotation="none"
                        data-href="http://culturaeduca.cc{{ post.get_absolute_url }}"
                        style="display:inline-block;">
                  </div>
                  <div style="display:inline">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://culturaeduca.cc{{ post.get_absolute_url }}" data-lang="pt-br" data-count="none">Tweetar</a>
                      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                      </script>
                  </div>
              </article>
          </section>
            <section class="bevel tr">
              <img class="pull-right trimg" src="/static/img/tri-verdew.png" alt="detalhe triangulo">
              <article class="comentarios ">
                <h3>
                  <img src="/static/img/icon-question.png" alt="icone de enfeite balaozinho de pergunta">
                  {% if comentarios %}Comentários{% else %}Nenhum comentário{% endif %}
                </h3><hr>
                        {% if comentarios %}
                        {% for comentario in comentarios %}
                        <p><span>{{ comentario.nome }}</span> @ {{ comentario.data_hora }}</p>
                        <p>{{ comentario.comentario }}</p><hr>
                        {% endfor %}
                        {% endif %}
              </article>
            </section>
        </section>
    <section class="bevel tr">
      <img class="pull-right trimg" src="/static/img/tri-verdew.png" alt="detalhe triangulo">
          <div class="accordion" id="accordion-comentar">
        <div class="accordion-group">
          <div class="accordion-heading">
             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-comentar" href="#accordion-element-118450">
              <img src="/static/img/icon-question.png" alt="icone de enfeite balaozinho de pergunta">
              COMENTAR
            </a>
          </div>
          <div id="accordion-element-118450" class="accordion-body collapse">
            <div class="accordion-inner">
                 <form class="form-comentar" method="post" action="{% url 'post' post.slug %}">
                  <fieldset>
                    <!-- <legend>COMENTAR</legend> -->
                    <label {% if form.nome.errors %}class = "erro"{% endif %}>Nome</label>{{ form.nome }} {{ form.nome.errors }}
                    <label>E-mail</label>{{ form.email }} {{ form.email.errors }}
                    {{ form.comentario }} {{ form.comentario.errors }}
                    <br>
                    {{ form.captcha }} {{ form.captcha.errors }}
                    <button type="submit" class="btn-verde pull-right">Publicar</button>
                  </fieldset>
                  </form>
            </div>
          </div>
        </div>
      </div><!--End-accordion-->
      </section>
    </div><!--span6-->
<!--Coluna divisor -->
    <div class="span6">
        <!--<div class="box-master bevel tr folded foldverde">
          <div class="box-bloge">
            <h5>SOBRE</h5>
            <h6>OS AUTORES</h6>
            <section class="blog-autores">
                <img src="/static/img/icon-autor.png" alt="">
                <p>Autor: Redação</p>
            </section>
          </div>
        </div>-->
        <div class="bevel tr">
            <img class="pull-right trimg" src="/static/img/tri-verdew.png" alt="detalhe triangulo">
          <div class="box-bloge box-posts">
            <h4>BLOG</h4>
            <h5>Posts mais lidos</h5>
             <section>
                        {% for ml in mais_lidos %}
                        <article>
                          <a href="{% url 'post' ml.slug %}">
                            {% if lista.imagem_destaque %}
                            <img class="pull-left" src="/static/media/{{ post.imagem_destaque }}" alt="thumbnail da imagem de destaque">
                            {% else %}
                            <img class="pull-left" src="/static/img/{% cycle 'thumbs1.jpg' 'thumbs2.jpg' 'thumbs3.jpg' %}" alt="thumbnail da imagem de destaque">
                            {% endif %}
                            <p>
                            {% if ml.titulo %}
                                {{ ml.titulo|striptags|truncatechars:45}}
                            {% else %}
                                SEM TíTULO
                            {% endif %}
                            </p>
                            <p>
                            {% if ml.resumo %}
                                {{ ml.resumo|striptags|truncatechars:100 }}
                            {% else %}
                                {{ ml.conteudo|striptags|truncatechars:100}}
                            {% endif %}
                            </p>
                          </a>
                        </article>
                        <hr>
                        {% endfor %}
                      </section>
          </div>
        </div><!--bevel tr-->
        <div class="blog-tags">
            {% for tag in post.tags.all %}
                <p><a href="{% url 'blog' %}?tag={{ tag|slugify }}">{{ tag }}</a></p>
            {% endfor %}
        </div><!--blog-tags-->
    </div><!--span6-->
  </div><!--row-fluid-->
  <div id="fb-root"></div>
{% endblock %}