{% extends 'bootstrap.html' %}
{% block title %}{{ salaverde.nome|title }} - Cultura Educa{% endblock %}
{% block conteudo %}
<script src="/static/js/ol/OpenLayers.js"></script>
<script src="/static/js/ponto.js"></script>
<script src="/static/js/highcharts/highcharts.js"></script>
<script src="/static/js/highcharts/modules/exporting.js"></script>
<script type="text/javascript">
$(function() {
    $(".about-this-pop").popover();
    $(".about-this-tip").tooltip();
});
</script>
<div class="row-fluid clearfix">
    <div class="row-fluid span12 breadcrumb-mapa">
        <p><a href="{% url 'mapa' %}">MAPA</a> > <a href="{% url 'mapa' %}">{{ salaverde.ibge.estado.sigla }}</a> > <a href="/mapa/{{ salaverde.ibge.estado.sigla }}/{{ salaverde.ibge.nome|slugify }}/">{{ salaverde.ibge.nome }}</a> > Sala Verde</p>
        <span style="visibility:hidden;display:none" id='longitude_centro'>{{ longitude }}</span>
        <span style="visibility:hidden;display:none" id='latitude_centro'>{{ latitude }}</span>
        <span style="visibility:hidden;display:none" id='icone'>{{ icone }}</span>
        <span style="visibility:hidden;display:none" id='nome_ponto'>{{ nome_ponto }}</span>
        <div class="row-fluid span12" id="mapa" style="max-width:960px; height:500px;"></div>
    </div><!--breadcrumb-->
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="tabbable" id="tabs-mapas">
        <p>{{ salaverde.nome }}</p>
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#painel-perfil" data-toggle="tab">PERFIL</a>
            <span class="tripod"></span>
          </li>
        </ul>
        <section class="tabs-conteudo row-fluid">
            <div class="tab-content span12">
<!-- TAB PERFIL -->
                <div class="tab-pane active" id="painel-perfil">
                    <div class="span6 coluna1">
                    <!--Conteudo-->

                            <section class="box-bevelw tr geral">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Identificação</p>
                            <span><!--PopOver-->
                                <a 
                                    class="about-this-pop"
                                    data-toggle="popover"
                                    data-animation="true"
                                    data-placement="right"
                                    data-trigger="click"
                                    data-title="Texto de Ajuda Titulo"
                                    data-content="Conteudo da Ajuda">
                                    <img src="/static/img/info.png" alt="Ajuda">
                                </a>
                            </span><!--PopOver-->
                            <article>
                            <div class="datagrid geral tdw">
                                <table>
                                    <tbody>
                                        <tr class="alt">
                                            <td>Nome</td>
                                            <td>{{ salaverde.nome }} </td>
                                        </tr>
                                        <tr>
                                            <td>Endereço</td>
                                            <td>{{ salaverde.nome_logra }}, {{ salaverde.num_lograd }} </td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Bairro</td>
                                            <td>{{ salaverde.bairro }} </td>
                                        </tr>
                                        <tr>
                                            <td>CEP</td>
                                            <td>{{ salaverde.cep }} </td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Telefone</td>
                                            <td>( {{ salaverde.ddd }} ) {{ salaverde.telefone1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email/site</td>
                                            <td>{{ salaverde.email }} / {{ salaverde.site }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>CNPJ</td>
                                            <td>Definir models</td>
                                        </tr>
                                        <tr class="hidden"></tr>
                                    </tbody>
                                </table>
                            </div>
                         </article>
                        </section>

                        <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Dados</p>
                            <article>
                                <div class="datagrid">
                                    <table>
                                        <tr class="alt">
                                            <td>Instituição</td>
                                            <td>Definir models</td>
                                        </tr>
                                        <tr>
                                            <td>Nome do Responsável</td>
                                            <td></td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Descrição</td>
                                            <td>Definir models</td>
                                        </tr>
                                        <tr class="hidden">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </article>
                        </section>
<!-- COLUNA 1 fim -->
                    </div><!--span6 coluna1-->
<!-- COLUNA 2 -->                        
                    <div class="span6 coluna2">

                        <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Localização</p>
                            <span><!--Tooltip-->
                                <a 
                                    class="about-this-tip"
                                    data-toggle="tooltip"
                                    data-animation="true"
                                    data-placement="right"
                                    data-trigger="click"
                                    data-title="Texto de Ajuda Titulo"
                                    data-content="Conteudo da Ajuda">
                                    <img src="/static/img/info.png" alt="Ajuda">
                                </a>
                            </span><!--Tooltip-->
                            <article>
                                <div class="datagrid">
                                    <table>
                                        <tr class="alt">
                                            <td>Latitude</td>
                                            <td>{{ salaverde.latitude }}</td>
                                        </tr>
                                        <tr>
                                            <td>Longitude</td>
                                            <td>{{ salaverde.longitude }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Tipo GEO</td>
                                            <td>{{ salaverde.tipogeo }}</td>
                                        </tr>
                                         <tr class="hidden">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </article>
                        </section>

                    </div><!--span6 coluna2-->
                    
            </div><!--tab-pane / painel-perfil-->

<!-- /TAB PERFIL -->

            </div><!--tab-content-->
        </section>
        </div><!--tabbable /tabs-mapas-->
    </div><!--span12-->
<!-- FIM TABS -->
</div><!--row-fluid-->

<script>
    init();
</script>
{% endblock %}
