{% extends 'bootstrap.html' %}
{% block conteudo %}
<script src="/static/js/ol/OpenLayers.js"></script>
<script src="/static/js/territorio.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/static/js/highcharts/highcharts.js"></script>
<script src="/static/js/highcharts/modules/exporting.js"></script>
<div class="row-fluid clearfix">
    <div class="row-fluid span12 breadcrumb-mapa">
        <p>MAPA > PE > RECIFE > TERRITÓRIO EDUCATIVO</p>
        <span style="visibility:hidden;display:none" id='longitude_centro'>{{ longitude }}</span>
        <span style="visibility:hidden;display:none" id='latitude_centro'>{{ latitude }}</span>
        <span style="visibility:hidden;display:none" id='codigo_inep'>{{ escola.codigo_inep }}</span>
        <span style="visibility:hidden;display:none" id='codigo_ibge'>{{ escola.ibge.cd_geocodm }}</span>
        <div class="row-fluid span12" id="mapa" style="width:960px; height:650px;"></div>
    </div><!--breadcrumb-->
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="tabbable" id="tabs-mapas">
        <p>TERRITÓRIO EDUCATIVO PASTORZINHO DA SILVA</p>
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#painel-perfil" data-toggle="tab">PERFIL</a>
            <span class="tripod"></span>
          </li>
          <li>
            <a href="#painel-equipamentos" data-toggle="tab">EQUIPAMENTOS</a>
            <span class="tripod"></span>
          </li>
          <li>
            <a href="#painel-escola" data-toggle="tab">ESCOLA</a>
            <span class="tripod"></span>
          </li>
          <li>
            <a href="#painel-mural" data-toggle="tab">MURAL</a>
            <span class="tripod"></span>
          </li>
          <li>
            <a href="#painel-usuarios" data-toggle="tab">USUÁRIOS</a>
            <span class="tripod"></span>
          </li>
        </ul>
        <section class="tabs-conteudo row-fluid">
            <div class="tab-content span12">
<!-- TAB PERFIL -->
                <div class="tab-pane active" id="painel-perfil">
                    <div class="span6 coluna1">
                    <!--Conteudo-->
                            <section class="box-bevelw tr geral">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Dados Gerais</p><span id="about-this"></span>
                            <article>
                            <div class="datagrid geral">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Área em Km2</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Número de    domicílios</td>
                                            <td> </td>
                                        </tr>
                                        <tr>
                                            <td>Número de    moradores</td>
                                            <td> </td>
                                        </tr>
                                        <tr>
                                            <td>Média de   moradores por domicílios</td>
                                            <td> </td>
                                        </tr>
                                        <tr>
                                            <td>Número de    setores censitários</td>
                                            <td> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                         </article>
                        </section>

                        <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                          <p>RENDA</p>
                            <div id="hc-renda-pessoas" style="max-width: 440px; min-height: 350px; margin: 0  auto;"></div>
                            <p>&nbsp;</p>
                            <div id="hc-renda-domicilios" style="max-width:440px; min-height: 270px; margin: 0  auto;"></div>
                        </section>

                            <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Infraestrutura Urbana</p><span id="about-this"></span>
                            <article>
                            <div class="datagrid">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td colspan="2">Domicílios</td>
                                            <td colspan="2">Moradores</td>
                                        </tr>
                                        <tr class="alt">
                                            <td></td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Arborização</td>
                                            <td class="alt-d">{{ infra.d_arborizacao_s }}</td>
                                            <td class="alt-r">{{ infra.d_arborizacao_n }}</td>
                                            <td class="alt-d">{{ infra.m_arborizacao_s }}</td>
                                            <td class="alt-r">{{ infra.m_arborizacao_n }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Calçada</td>
                                            <td class="alt-de">{{ infra.d_calcada_s }}</td>
                                            <td class="alt-re">{{ infra.d_calcada_n }}</td>
                                            <td class="alt-de">{{ infra.m_calcada_s }}</td>
                                            <td class="alt-re">{{ infra.m_calcada_n }}</td>
                                        </tr>
                                        <tr>
                                            <td>Iluminação    Pública</td>
                                            <td class="alt-d">{{ infra.d_iluminacao_s }}</td>
                                            <td class="alt-r">{{ infra.d_iluminacao_n }}</td>
                                            <td class="alt-d">{{ infra.m_iluminacao_s }}</td>
                                            <td class="alt-r">{{ infra.m_iluminacao_n }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Pavimentação</td>
                                            <td class="alt-de" class="alt-d">{{ infra.d_pavimentacao_s }}</td>
                                            <td class="alt-re">{{ infra.d_pavimentacao_n }}</td>
                                            <td class="alt-de">{{ infra.m_pavimentacao_s }}</td>
                                            <td class="alt-re">{{ infra.m_pavimentacao_n }}</td>
                                        </tr>
                                        <tr>
                                            <td>Rampa para    cadeirante</td>
                                            <td class="alt-d">{{ infra.d_rampa_cadeirante_s. }}</td>
                                            <td class="alt-r">{{ infra.d_rampa_cadeirante_n. }}</td>
                                            <td class="alt-d">{{ infra.m_rampa_cadeirante_s. }}</td>
                                            <td class="alt-r">{{ infra.m_rampa_cadeirante_n. }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Esgoto a céu    aberto</td>
                                            <td class="alt-de">{{ infra.d_esgoto_s }}</td>
                                            <td class="alt-re">{{ infra.d_esgoto_n }}</td>
                                            <td class="alt-de">{{ infra.m_esgoto_s }}</td>
                                            <td class="alt-re">{{ infra.m_esgoto_n }}</td>
                                        </tr>
                                        <tr>
                                            <td>Lixo acumulado    na rua</td>
                                            <td class="alt-d">{{ infra.d_lixo_s }}</td>
                                            <td class="alt-r">{{ infra.d_lixo_n }}</td>
                                            <td class="alt-d">{{ infra.m_lixo_s }}</td>
                                            <td class="alt-r">{{ infra.m_lixo_n }}</td>
                                        </tr>
                                        <tr class="hidden"></tr>
                                    </tbody>
                                </table>
                            </div>
                         </article>
                        </section><!--INFRA-ESTRUTURA URBANA-->


                        <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Características dos Domicílios</p><span id="about-this"></span>
                            <article>
                            <div class="datagrid">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td colspan="2">Domicílios</td>
                                            <td colspan="2">Moradores</td>
                                        </tr>
                                        <tr class="alt">
                                            <td></td>
                                            <td>ABS </td>
                                            <td>%</td>
                                            <td>ABS</td>
                                            <td>%</td>
                                        </tr>
                                        <tr>
                                            <td>Casas</td>
                                            <td>{{ domicilio_por_setor.casas }}</td>
                                            <td>{{ domicilio_por_setor.casas_p }}</td>
                                            <td>{{ moradores.casas }}</td>
                                            <td>{{ moradores.casas_p }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Apartamentos</td>
                                            <td>{{ domicilio_por_setor.apartamentos }}</td>
                                            <td>{{ domicilio_por_setor.apartamentos_p }}</td>
                                            <td>{{ moradores.apartamentos }}</td>
                                            <td>{{ moradores.apartamentos_p }}</td>
                                        </tr>
                                        <tr>
                                            <td>Sem abastecimento de água por rede geral</td>
                                            <td>{{domicilio_por_setor.sem_agua}}</td>
                                            <td>{{domicilio_por_setor.sem_agua_p}}</td>
                                            <td>{{moradores.sem_agua}}</td>
                                            <td>{{moradores.sem_agua_p}}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Sem banheiro ou sanitáro</td>
                                            <td>{{domicilio_por_setor.sem_banheiro}}</td>
                                            <td>{{domicilio_por_setor.sem_banheiro_p}}</td>
                                            <td>{{moradores.sem_banheiro}}</td>
                                            <td>{{moradores.sem_banheiro_p}}</td>
                                        </tr>
                                        <tr>
                                            <td>Sem lixo coletado</td>
                                            <td>{{domicilio_por_setor.sem_lixo}}</td>
                                            <td>{{domicilio_por_setor.sem_lixo_p}}</td>
                                            <td>{{moradores.sem_lixo}}</td>
                                            <td>{{moradores.sem_lixo_p}}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Sem energia elétrica</td>
                                            <td>{{domicilio_por_setor.sem_energia}}</td>
                                            <td>{{domicilio_por_setor.sem_energia_p}}</td>
                                            <td>{{moradores.sem_energia}}</td>
                                            <td>{{moradores.sem_energia_p}}</td>
                                        </tr>
                                        <tr>
                                            <td class="table-text-aright" colspan="5">Fonte: Censo    Demográfico 2010 - IBGE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                         </article>
                        </section>

                        <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Características dos responsáveis por domicílios</p><span id="about-this"></span>
                            <article>
                            <div class="datagrid">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">&nbsp;</td>
                                            <td colspan="2">Homens</td>
                                            <td colspan="2">Mulheres</td>
                                            <td colspan="2">Total</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Abs.</td>
                                            <td>% </td>
                                            <td>Abs.</td>
                                            <td>% </td>
                                            <td>Abs.</td>
                                            <td>% </td>
                                        </tr>
                                        <tr>
                                            <td>Responsáveis</td>
                                            <td class="alt-h">{{ responsaveis.h_responsaveis }}</td>
                                            <td class="alt-h">{{ responsaveis.h_responsaveis_p }}</td>
                                            <td class="alt-m">{{ responsaveis.m_responsaveis }}</td>
                                            <td class="alt-m">{{ responsaveis.m_responsaveis_p }}</td>
                                            <td class="alt-t">{{ responsaveis.t_responsaveis }}</td>
                                            <td class="alt-t">{{ responsaveis.t_responsaveis_p }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Não    alfabetizados</td>
                                            <td class="alt-he">{{ responsaveis.h_nao_alfabetizados }}</td>
                                            <td class="alt-he">{{ responsaveis.h_nao_alfabetizados_p }}</td>
                                            <td class="alt-me">{{ responsaveis.m_nao_alfabetizados }}</td>
                                            <td class="alt-me">{{ responsaveis.m_nao_alfabetizados_p }}</td>
                                            <td class="alt-te">{{ responsaveis.t_nao_alfabetizados }}</td>
                                            <td class="alt-te">{{ responsaveis.t_nao_alfabetizados_p }}</td>
                                        </tr>
                                        <tr>
                                            <td>Com até 18    anos</td>
                                            <td class="alt-h">{{ responsaveis.h_ate_18 }}</td>
                                            <td class="alt-h">{{ responsaveis.h_ate_18_p }}</td>
                                            <td class="alt-m">{{ responsaveis.m_ate_18 }}</td>
                                            <td class="alt-m">{{ responsaveis.m_ate_18_p }}</td>
                                            <td class="alt-t">{{ responsaveis.t_ate_18 }}</td>
                                            <td class="alt-t">{{ responsaveis.t_ate_18_p }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Sem rendimento</td>
                                            <td class="alt-he">{{ responsaveis.h_sem_rendimento }}</td>
                                            <td class="alt-he">{{ responsaveis.h_sem_rendimento_p }}</td>
                                            <td class="alt-me">{{ responsaveis.m_sem_rendimento }}</td>
                                            <td class="alt-me">{{ responsaveis.m_sem_rendimento_p }}</td>
                                            <td class="alt-te">{{ responsaveis.t_sem_rendimento }}</td>
                                            <td class="alt-te">{{ responsaveis.t_sem_rendimento_p }}</td>
                                        </tr>
                                        <tr>
                                            <td>Rendimento até    1 SM</td>
                                            <td class="alt-h">{{ responsaveis.h_rendimento_1sm }}</td>
                                            <td class="alt-h">{{ responsaveis.h_rendimento_1sm_p }}</td>
                                            <td class="alt-m">{{ responsaveis.m_rendimento_1sm }}</td>
                                            <td class="alt-m">{{ responsaveis.m_rendimento_1sm_p }}</td>
                                            <td class="alt-t">{{ responsaveis.t_rendimento_1sm }}</td>
                                            <td class="alt-t">{{ responsaveis.t_rendimento_1sm_p }}</td>
                                        </tr>
                                        <tr class="alt">
                                            <td  class="table-text-aright" colspan="7">Fonte: Censo    Demográfico 2010 - IBGE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                         </article>
                    </section>
                    <!--/Conteudo-->
                    </div><!--span6 coluna1-->

                    <div class="span6 coluna2">
                    <!--Conteudo-->
                    <section class="box-bevelw tr">
                        <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                        <p>PIRAMIDE ETARIA</p>
                        <div id="hc-piramide-etaria" style="max-width: 440px; min-height: 400px; margin: 0  auto;"></div>
                        <p>RAÇA/COR</p>
                        <div id="hc-populacao-cor" style="max-width: 440px; min-height: 300px; margin: 0  auto;"></div>
                    </section>
                    <!--Conteudo-->
                    </div><!--span6 coluna2-->
            </div><!--tab-pane / panel-perfil-->
<!-- /TAB PERFIL -->

<!-- TAB EQUIPAMENTOS -->
                  <div class="tab-pane" id="painel-equipamentos">
                    <div class="span6 coluna1">
                    <!--Conteudo-->
                        <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>CARACTERÍSTICAS DOS DOMICÍLIOS</p><span id="about-this"></span>
                            <article>
                            <div class="datagrid">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td colspan="2">N. DOMICÍLIOS</td>
                                            <td colspan="2">N. MORADORES</td>
                                        </tr>
                                        <tr class="alt">
                                            <td></td>
                                            <td>ABS </td>
                                            <td>%</td>
                                            <td>ABS</td>
                                            <td>%</td>
                                        </tr>
                                        <tr>
                                            <td>CASAS</td>
                                            <td>100</td>
                                            <td>100</td>
                                            <td>100</td>
                                            <td>100</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>APARTAMENTOS</td>
                                            <td>75</td>
                                            <td>75</td>
                                            <td>75</td>
                                            <td>75</td>
                                        </tr>
                                        <tr>
                                            <td>SEM ABASTECIMENTO DE ÁGUA DE REDE</td>
                                            <td>50</td>
                                            <td>50</td>
                                            <td>50</td>
                                            <td>50</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>SEM BANHEIRO OU SANITÁRIO</td>
                                            <td>45</td>
                                            <td>45</td>
                                            <td>45</td>
                                            <td>45</td>
                                        </tr>
                                        <tr>
                                            <td>SEM LIXO COLETADO</td>
                                            <td>35</td>
                                            <td>35</td>
                                            <td>35</td>
                                            <td>35</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                         </article>
                        </section>
                    <!--Conteudo-->
                    </div><!--span6 coluna1-->
                    <div class="span6 coluna2">
                    <!--Conteudo-->

                    <!--Conteudo-->
                    </div><!--span6 coluna2-->
            </div><!--tab-pane / panel-mural-->
<!-- TAB EQUIPAMENTOS -->

<!-- TAB ESCOLA -->
            <div class="tab-pane" id="painel-escola">
                    <div class="span6 coluna1">
                    <!--Conteudo-->
                    <section class="box-bevelw tr geral">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Dados Gerais</p><span id="about-this"></span>
                            <article>
                            <div class="datagrid geral">
                                <table>
                                    <tbody>
                                       <tr>
                                        <td>Código    INEP</td>
                                        <td>{{ escola.cod_inep }}</td>
                                      </tr>
                                      <tr>
                                        <td>Localização</td>
                                        <td>{{ escola.localizacao }}</td>
                                      </tr>
                                      <tr>
                                        <td>Localização    diferenciada</td>
                                        <td>{{ dados.id_localizacao_diferenciada }}</td>
                                      </tr>
                                      <tr>
                                        <td>Esfera    Administrativa</td>
                                        <td>{{ escola.dep_adm }}</td>
                                      </tr>
                                      <tr>
                                        <td>Endereço</td>
                                        <td> </td>
                                      </tr>
                                      <tr>
                                        <td>Telefone</td>
                                        <td> </td>
                                      </tr>
                                      <tr>
                                        <td>Email</td>
                                        <td>{{ escola.email }}</td>
                                      </tr>
                                      <tr>
                                        <td>Diretor(a)</td>
                                        <td>{{ escola.nome_diretor }}</td>
                                      </tr>
                                      <tr class="hidden"></tr>
                                    </tbody>
                                </table>
                            </div>
                         </article>
                    </section>
                    <section class="box-bevelw tr">
                            <img class="pull-right trimgt" src="/static/img/tri-laranjam.png" alt="detalhe triangulo">
                            <p>Modalidade e etapas de ensino</p><span id="about-this"></span>
                            <article>
                            <div class="datagrid">
                                <table>
                                    <tbody>
                                       <tr class="alt">
                                        <td>Educação    Infantil - Creche</td>
                                        <td>{% if dados.id_reg_infantil_creche %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                      </tr>
                                      <tr>
                                        <td>Educação    Infantil  - Pré-escola</td>
                                        <td>{% if dados.id_reg_infantil_preescola %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                      </tr>
                                      <tr class="alt">
                                        <td>Ensino    Fundamental 8 anos</td>
                                        <td>{% if dados.id_reg_fund_8_anos %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                      </tr>
                                      <tr>
                                        <td>Ensino    Fundamental 9 anos</td>
                                        <td>{% if dados.id_reg_fund_9_anos %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                      </tr>
                                      <tr class="alt">
                                        <td>Ensino Médio</td>
                                        <td>{% if dados.id_reg_medio_medio %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                      </tr>
                                      <tr>
                                        <td>Ensino Médio    Integrado</td>
                                        <td>{% if dados.id_reg_medio_integrado %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                      </tr>
                                      <tr class="alt">
                                        <td>Ensino Médio    Normal/Magistério</td>
                                        <td>{% if dados.id_reg_medio_normal %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                      </tr>
                                      <tr>
                                        <td>Educação    Profissional</td>
                                        <td>{% if dados.id_reg_medio_prof %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                      </tr>
                                      <tr class="alt">
                                        <td>Educação de    Jovens e Adultos - Ensino Fundamental</td>
                                        <td>{% if dados.id_eja_fundamental %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                      </tr>
                                      <tr>
                                        <td>Educação de    Jovens e Adultos - Ensino Médio</td>
                                        <td>{% if dados.id_eja_medio %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                      </tr>
                                      <tr class="alt">
                                        <td>Educação de    Jovens e Adultos - Ensino Fundamental (Projovem - urbano)</td>
                                        <td>{% if dados.id_eja_projovem %}<img src="/static/img/yes.png">{% else %}<img src="/static/img/no.png">{% endif %}</td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                         </article>
                        </section>
                    <!--Conteudo-->
                </div><!--span6/coluna1-->
                <div class="span6 coluna2">
                    <!--Conteudo-->

                    <!--Conteudo-->
                </div><!--span6 coluna2-->
            </div><!--tab-pane / panel-mural-->
<!-- TAB ESCOLA -->

<!-- TAB MURAL -->
                <div class="tab-pane" id="painel-mural">
                        <section>
                            <img src="/static/img/embreve_mural.png" alt="" style="max-width: 920px; margin-left: 20px; margin-bottom: 20px;">
                        </section>
                </div><!--tab-pane / panel-escola-->
<!-- TAB MURAL -->

<!-- TAB USUÁRIOS -->
                  <div class="tab-pane" id="painel-usuarios">
                    <div class="span126 coluna1">
                    <!--Conteudo-->

                    <!--Conteudo-->
                    </div><!--span6 coluna1-->
                    <div class="span6 coluna2">
                    <!--Conteudo-->

                    <!--Conteudo-->
                    </div><!--span6 coluna2-->
                  </div><!--tab-pane / panel-usuario-->
<!-- TAB USUÁRIOS -->
            </div><!--tab-content-->
        </section>
        </div><!--tabbable /tabs-mapas-->
    </div><!--span12-->
<!-- FIM TABS -->
</div><!--row-fluid-->

  <script>
  init();
  </script>
<script type="text/javascript">
                 // Rendimento pessoas
                    $(function () {
                            $('#hc-renda-pessoas').highcharts({
                                chart: {
                                    type: 'column',
                                    spacingLeft: 25,
                                },
                                credits: {
                                    text: 'Fonte: Censo 2010 - IBGE / culturaeduca.cc',
                                },
                                title: {
                                    text: 'Classes de rendimento nominal mensal',
                                    align: 'left',
                                    x: 0,
                                    style: {
                                        color: '#666',
                                        fontSize: '14px'
                                    }
                                },
                                subtitle: {
                                    text: 'População residente de 10 anos ou mais - Sexo',
                                    align: 'left',
                                    x: 0,
                                    style: {
                                        color: '#999',
                                    }
                                },
                                legend: {
                                    backgroundColor: '#f2f2f2',
                                    borderColor: null,
                                    align: 'right',
                                    verticalAlign: 'top',
                                    x:2,
                                    y: 40,
                                    floating: true,
                                    itemStyle: {
                                        color: '#9e9e9e',
                                        fontSize: '11px',
                                    }
                                },
                                xAxis: {
                                    categories: [
                                        'Sem rendimento',
                                        'Até 1/2 SM',
                                        'De 1/2 a 1 SM',
                                        'De 1 a 2 SM',
                                        'De 2 a 3 SM',
                                        'De 3 a 5 SM',
                                        'De 5 a 10 SM',
                                        'De 10 a 15 SM',
                                        'De 15 a 20 SM',
                                        'Mais de 20 SM'
                                    ],
                                    labels: {
                                        rotation: -65,
                                        align: 'right',
                                        style: {
                                            fontSize: '10px',
                                        }
                                    },
                                },
                                yAxis: {
                                    title: {
                                        text: null
                                    },
                                    labels: {
                                        enabled: false
                                    },
                                    tickPixelInterval: 50
                                },
                                tooltip: {
                                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                        '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                                    footerFormat: '</table>',
                                    shared: true,
                                    useHTML: true
                                },
                                plotOptions: {
                                    column: {
                                        pointPadding: 0.1,
                                        borderWidth: 0
                                    }
                                },
                                series: [{
                                    name: 'Homens',
                                    data: [
                                        {{ renda.h_sem_rendimento }},
                                        {{ renda.h_ate_meio }},
                                        {{ renda.h_de_meio_a_1 }},
                                        {{ renda.h_de_1_a_2 }},
                                        {{ renda.h_de_2_a_3 }},
                                        {{ renda.h_de_3_a_5 }},
                                        {{ renda.h_de_5_a_10 }},
                                        {{ renda.h_de_10_a_15 }},
                                        {{ renda.h_de_15_a_20 }},
                                        {{ renda.h_mais_de_20 }}
                                        ],
                                    color: '#99cccc'

                                }, {
                                    name: 'Mulheres',
                                    data: [
                                        {{ renda.m_sem_rendimento }},
                                        {{ renda.m_ate_meio }},
                                        {{ renda.m_de_meio_a_1 }},
                                        {{ renda.m_de_1_a_2 }},
                                        {{ renda.m_de_2_a_3 }},
                                        {{ renda.m_de_3_a_5 }},
                                        {{ renda.m_de_5_a_10 }},
                                        {{ renda.m_de_10_a_15 }},
                                        {{ renda.m_de_15_a_20 }},
                                        {{ renda.m_mais_de_20 }}
                                        ],
                                    color: '#ffcc33'

                                }],

                                exporting: {
                                    filename: 'rendimento-mensal',
                                }

                            });
                    });

                    // Rendimento domiciliar

                    $(function () {
                            $('#hc-renda-domicilios').highcharts({
                                chart: {
                                    type: 'bar',
                                },
                                credits: {
                                    text: 'Fonte: Censo 2010 - IBGE / culturaeduca.cc',
                                },
                                title: {
                                    text: 'Classes de rendimento nominal mensal domiciliar',
                                    align: 'left',
                                    x: 0,
                                    style: {
                                        color: '#666',
                                        fontSize: '14px'
                                    }
                                },
                                subtitle: {
                                    text: 'Domicílios particulares permanentes',
                                    align: 'left',
                                    x: 0,
                                    style: {
                                        color: '#999',
                                    }
                                },
                                xAxis: {
                                    categories: [
                                        'Sem rendimento',
                                        'Até 1/2 SM',
                                        'De 1/2 a 1 SM',
                                        'De 1 a 2 SM',
                                        'De 2 a 3 SM',
                                        'De 3 a 5 SM',
                                        'De 5 a 10 SM',
                                        'De 10 a 15 SM'
                                    ],
                                    title: {
                                        text: null
                                    },
                                    labels: {
                                        align: 'right',
                                    },
                                },
                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: null
                                    },
                                    labels: {
                                        enabled: false
                                    },
                                },
                                legend: {
                                    enabled: false
                                },
                                series: [{
                                    name: 'Domicílios',
                                    data: [
                                        {{ renda.dom_sem_rendimento }},
                                        {{ renda.dom_ate_meio }},
                                        {{ renda.dom_de_meio_a_1 }},
                                        {{ renda.dom_de_1_a_2 }},
                                        {{ renda.dom_de_2_a_3 }},
                                        {{ renda.dom_de_3_a_5 }},
                                        {{ renda.dom_de_5_a_10 }},
                                        {{ renda.dom_de_10_a_15 }}
                                        ],
                                    color: '#669966'
                                }],
                                exporting: {
                                    filename: 'rendimento-domiciliar',
                                }
                            });
                        });

                    // Piramide Etária


                    $(function () {
                        var chart,
                            categories = ['0-4', '5-9', '10-14', '15-19',
                                '20-24', '25-29', '30-34', '35-39', '40-44',
                                '45-49', '50-54', '55-59', '60-64', '65-69',
                                '70-74', '75-79', '80-84', '85-89', '90-94',
                                '95-99', '100 +'];
                        $(document).ready(function() {
                            $('#hc-piramide-etaria').highcharts({
                                chart: {
                                    type: 'bar',
                                },
                                credits: {
                                    text: 'Fonte: Censo 2010 - IBGE / culturaeduca.cc',
                                },
                                title: {
                                    text: 'Piramide Etária - População residente',
                                    align: 'left',
                                    x: 0,
                                    style: {
                                        color: '#666',
                                        fontSize: '14px'
                                    }
                                },
                                legend: {
                                    borderColor: null,
                                    x:30,
                                    itemDistance: 130,
                                    itemStyle: {
                                        color: '#9e9e9e',
                                        fontSize: '11px',
                                    }
                                },
                                xAxis: [{
                                    categories: categories,
                                    reversed: false
                                },
                                //{ // mirror axis on right side
                                //    opposite: true,
                                //    reversed: false,
                                //    categories: categories,
                                //    linkedTo: 0
                                //}
                                ],
                                yAxis: {
                                    title: {
                                        text: null
                                    },
                                    labels: {
                                        formatter: function(){
                                            return (Math.abs(this.value) );
                                        }
                                    },
                                },

                                plotOptions: {
                                    series: {
                                        stacking: 'normal'
                                    }
                                },

                                tooltip: {
                                    formatter: function(){
                                        return '<b>'+ this.series.name +', '+ this.point.category +' anos </b><br/>'+
                                            'População: '+ Highcharts.numberFormat(Math.abs(this.point.y), 0);
                                    }
                                },

                                series: [{
                                    name: 'Homens',
                                    data: [
                                        -{{ piramide.h_0_4 }},
                                        -{{ piramide.h_5_9 }},
                                        -{{ piramide.h_10_14 }},
                                        -{{ piramide.h_15_19 }},
                                        -{{ piramide.h_20_24 }},
                                        -{{ piramide.h_25_29 }},
                                        -{{ piramide.h_30_34 }},
                                        -{{ piramide.h_35_39 }},
                                        -{{ piramide.h_40_44 }},
                                        -{{ piramide.h_45_49 }},
                                        -{{ piramide.h_50_54 }},
                                        -{{ piramide.h_55_59 }},
                                        -{{ piramide.h_60_64 }},
                                        -{{ piramide.h_65_69 }},
                                        -{{ piramide.h_70_74 }},
                                        -{{ piramide.h_75_79 }},
                                        -{{ piramide.h_80_84 }},
                                        -{{ piramide.h_85_89 }},
                                        -{{ piramide.h_90_94 }},
                                        -{{ piramide.h_95_99 }},
                                        -{{ piramide.h_100_mais }}
                                        ],
                                    color: '#99cccc'

                                }, {
                                    name: 'Mulheres',
                                    data: [
                                        {{ piramide.m_0_4 }},
                                        {{ piramide.m_5_9 }},
                                        {{ piramide.m_10_14 }},
                                        {{ piramide.m_15_19 }},
                                        {{ piramide.m_20_24 }},
                                        {{ piramide.m_25_29 }},
                                        {{ piramide.m_30_34 }},
                                        {{ piramide.m_35_39 }},
                                        {{ piramide.m_40_44 }},
                                        {{ piramide.m_45_49 }},
                                        {{ piramide.m_50_54 }},
                                        {{ piramide.m_55_59 }},
                                        {{ piramide.m_60_64 }},
                                        {{ piramide.m_65_69 }},
                                        {{ piramide.m_70_74 }},
                                        {{ piramide.m_75_79 }},
                                        {{ piramide.m_80_84 }},
                                        {{ piramide.m_85_89 }},
                                        {{ piramide.m_90_94 }},
                                        {{ piramide.m_95_99 }},
                                        {{ piramide.m_100_mais }}
                                        ],
                                    color: '#ffcc33'

                                }],

                                exporting: {
                                    filename: 'piramide-etaria',
                                }

                            });

                        });

                    });

                    // População Residente - Raça/Cor

                    $(function () {
                        var chart;

                        $(document).ready(function () {

                            // Build the chart
                            $('#hc-populacao-cor').highcharts({
                                chart: {
                                    marginLeft: 70
                                },
                                credits: {
                                    text: 'Fonte: Censo 2010 - IBGE / culturaeduca.cc',
                                },
                                title: {
                                    text: 'Raça/Cor - População Residente',
                                    align: 'left',
                                    x: 0,
                                    style: {
                                        color: '#666',
                                        fontSize: '14px'
                                    }
                                },
                                tooltip: {
                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                },
                                plotOptions: {
                                    pie: {
                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        dataLabels: {
                                            enabled: false
                                        },
                                        showInLegend: true
                                    }
                                },
                                legend: {
                                    backgroundColor: '#f2f2f2',
                                    borderColor: null,
                                    layout: 'vertical',
                                    align: 'left',
                                    verticalAlign: 'middle',
                                    floating: true,
                                    itemStyle: {
                                        color: '#9e9e9e',
                                        fontSize: '11px',
                                    }
                                },

                                series: [{
                                    type: 'pie',
                                    name: 'Browser share',
                                    data: [
                                        ['Branca',   45.0],
                                        ['Preta',       26.8],
                                        ['Amarela',    8.5],
                                        ['Parda',     6.2],
                                        ['Indígena',   0.7]
                                    ],
                                    colors: [
                                        '#99cccc',
                                        '#8f85ba',
                                        '#edc13e',
                                        '#7f7a66',
                                        '#54ae66'
                                    ],
                                }],

                                exporting: {
                                    filename: 'raca-cor',

                                }

                            });
                        });

                    });
              </script>

   {% endblock %}