{% extends 'bootstrap.html' %}
{% block title %}{{ municipio.nome|title }}/{{ uf }} - Territórios Educativos - Cultura Educa{% endblock %}
{% block conteudo %}
<script src="/static/js/ol/OpenLayers.js"></script>
<script src="/static/js/mapa3.js"></script>
<style type="text/css" src="/static/js/ol/theme/default/style.css"></style>
<div class="btm-20 row-fluid clearfix">
  <div class="row-fluid span12 breadcrumb-mapa">
    <p>{{ uf }} > {{ municipio.nome|title }}</p>
    <span style="visibility:hidden;display:none" id='longitude_centro'>{{ longitude_centro }}</span>
    <span style="visibility:hidden;display:none" id='latitude_centro'>{{ latitude_centro }}</span>
    <span style="visibility:hidden;display:none" id='codigo_ibge'>{{ codigo_ibge }}</span>
    <div id='mapa' style='max-width:960px; height:500px;'></div>
  </div>
</div>

<script type="text/javascript">
        init();
</script>
{% endblock %}
